@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;
    --corBranca: #ffffff;
    --corPrincipal: #c01818;
    --preto: #000000;
    --corFonteBranco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--font-secundary);
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.295), rgba(255, 227, 227, 0.377)), url(img/bgtruck.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
}

.container-area {
    width: 430px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ff4f4f;
    background-color: var(--corBranca);

}

.container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 95%;
}

.container-button button {
    width: 100%;
}

.container-button .frota {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    background-color: #35669d;
    font-weight: 800;
    color: var(--corFonteBranco);
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
    cursor: pointer;
}

.container-button .frota:hover {
    background-color: #203d5f;
    color: var(--corFonteBranco);
}

.container-button #sair {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    background-color: #9d3535;
    font-weight: 800;
    color: var(--corFonteBranco);
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
    cursor: pointer;
}

.container-button #sair:hover {
    background-color: #5f2020;
    color: var(--corFonteBranco);

}

/*Responsividade */
@media only screen and (max-device-width: 349px) and (min-device-width: 270px) {

    .container-area {
        width: 100%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 95%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }
}

@media only screen and (max-device-width: 399px) and (min-device-width: 350px) {
    .container-area {
        width: 100%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 95%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }

}

@media only screen and (max-device-width: 520px) and (min-device-width: 400px) {

    .container-area {
        width: 100%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 95%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }

}

@media only screen and (max-device-width: 700px) and (min-device-width: 521px) {
    .container-area {
        max-width: 500px;
        width: 65%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 95%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }

    
}

@media only screen and (max-device-width: 950px) and (min-device-width: 701px) {
    .container-area {
        max-width: 650px;
        width: 65%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 90%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }
}

@media only screen and (max-device-width: 1250px) and (min-device-width: 951px) {
    .container-area {
        max-width: 650px;
        width: 65%;
        height: 95%;
    }

    .container-button {
        width: 90%;
        height: 80%;
    }

    .container-button .frota {
        font-size: 18px;
        padding: 10px 45px;
    }

    .container-button #sair {
        font-size: 18px;
        padding: 10px 45px;
    }
}