@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;
    --corBranca: #ffffff;
    --corPrincipal: #881313;
    --preto: #000000;
    --corFonteBranco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--font-secundary);
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.295), rgba(255, 227, 227, 0.377)), url(img/bgtruck.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
}


.botoes {
    display: flex;
}

.botoes button {
    padding: 10px 20px;
    margin-right: 10px;
}

.container-area {
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ff4f4f;
    background-color: var(--corBranca);
    flex-direction: column;

}

.container-area2 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-head {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-dados {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-pesquisa{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.container-pesquisa input {
    height: 75%;
    width: 150px;
}

.container-button .frota {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    background-color: #35669d;
    font-weight: 800;
    color: var(--corFonteBranco);
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
    cursor: pointer;
}

.container-button .frota:hover {
    background-color: #203d5f;
    color: var(--corFonteBranco);
}

.form-img {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-area {
    width: 100px;
    height: 100px;
}

.img-area img {
    width: 90%;
    height: 90%;
}

.ui-select-style1 {
    width: 350px;
    padding-left: 7px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    color: rgb(119, 119, 119);
    outline: none;
}

.ui-select-style1:focus {
    border: 1px solid rgb(140, 174, 229);
    box-shadow: 1px 1px 1px rgba(140, 174, 229, 0.25);
}


.ui-select-style2 {
    width: 350px;
    padding-left: 7px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    color: rgb(119, 119, 119);
    outline: none;
}

.ui-select-style2:focus {
    border: 1px solid rgb(140, 174, 229);
    box-shadow: 1px 1px 1px rgba(140, 174, 229, 0.25);
}

/*TABELA SCROLL*/

.tg {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.tg th{
    text-decoration: none;
    padding: 5px;
    text-align: left;
    width: 22vw;
}
.tg td {
    text-decoration: none;
    padding: 5px;
    text-align: left;
    width: 22vw;
}

.tg #frotaTd {
    width: 10vw;
}

.tg #detalhesTd {
    width: 10vw;
}

.tg #saidaTd {
    width: 10vw;
}

.tg #assinaturaTd {
    width: 32vw;
}

.tg thead {
    background-color: #5f2020;
    color: #fdfdfd;
    transition: background-color 0.3s;
}

.tg thead:hover {
    background-color: #180000;
    color: var(--corFonteBranco);
}

.tg thead tr {
    display: block;
    position: relative;
}

.tg tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tg tbody tr:hover{
    background-color: rgb(224, 224, 224);
    color: #000000;
    transition: background-color 0.3s;
}

img{
    width: 100%;
}

@media only screen and (max-device-width: 349px) and (min-device-width: 270px) {

    .container-area {
        width: 100vw;
        height: 90vh;
    }

    .container-area2 {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg th {
        text-decoration: none;
        padding: 5px;
        padding-left: 5px;
        text-align: left;
        width: 20vw;
        font-size: 10px;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        padding-left: 3px;
        text-align: left;
        width: 20vw;
        font-size: 10px;
    }

}

@media only screen and (max-device-width: 399px) and (min-device-width: 350px) {

    .container-area {
        width: 100vw;
        height: 90vh;
    }

    .container-area2 {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg th {
        text-decoration: none;
        padding: 5px;
        padding-left: 10px;
        text-align: left;
        width: 21vw;
        font-size: 11px;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        padding-left: 3px;
        text-align: left;
        width: 22vw;
        font-size: 11px;
        padding-bottom: 5px;
    }
}

@media only screen and (max-device-width: 520px) and (min-device-width: 400px) {
    .container-area {
        width: 100vw;
        height: 90vh;
    }

    .container-area2 {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        text-align: left;
        width: 25vw;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .tg th {
        width: 30vw;
        text-decoration: none;
        padding: 5px;
        text-align: left;
        padding-left: 2px;
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 700px) and (min-device-width: 521px) {
    .container-area {
        width: 90vw;
        height: 90vh;
    }

    .container-area2 {
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg th {
        text-decoration: none;
        padding: 5px;
        padding-left: 11px;
        text-align: left;
        width: 21vw;
        font-size: 12px;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        padding-left: 3px;
        text-align: left;
        width: 22vw;
        padding-bottom: 5px;
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 950px) and (min-device-width: 701px) {
    .container-area {
        width: 90vw;
        height: 90vh;
    }

    .container-area2 {
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg th {
        text-decoration: none;
        padding: 5px;
        padding-left: 11px;
        text-align: left;
        width: 26vw;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        padding-left: 8px;
        text-align: left;
        width: 26vw;
        padding-bottom: 15px;
    }

}

@media only screen and (max-device-width: 1250px) and (min-device-width: 951px) {
    .container-area {
        width: 90vw;
        height: 90vh;
    }

    .container-area2 {
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }

    .container-dados {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
    }

    .tg {
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .tg tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tg th {
        text-decoration: none;
        padding: 5px;
        padding-left: 11px;
        text-align: left;
        width: 26vw;
    }

    .tg td {
        text-decoration: none;
        padding: 1px;
        padding-left: 8px;
        text-align: left;
        width: 26vw;
        padding-bottom: 15px;
    }

}